/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* конец кода сброса стилей браузера */
html {
	background-color: rgb(235,248,15);
}
body {
	background-color: rgb(255,255,255);
	border: 3px solid rgb(75,75,57) ;
	max-width: 760px;
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
	box-shadow: 0 0 20px 10px rgba(44,82,100,.75) ;
	padding: 15px;
}
h1 {
	font-size: 2.75em;
	font-family: Georgia, serif;
	font-weight: normal;
    text-align: center;
    letter-spacing: 1px;
	color: rgb(133,165,18);
	text-transform: uppercase;
	background-color: rgb(232,248,150);
	padding: 5px 15px 2px 15px;
	margin: 0 -15px 20px -15px;
}
h2 {
	font-size: 2.75em;
	font-family: "Arial narrow", sans-serif;
	color: rgb(133,530,18);
	border-top: 2px dotted rgb(141,165,23);
	border-bottom: 2px dotted rgb(141,165,23);
	padding-top: 5px;
	padding-bottom:5px;
	margin:15px 0 5px 0;
	overflow: hidden;
}
.sidebar {
	width: 30%;
	float: right;
	margin: 10px;
	background-color: rgb(255,248,157);
	padding: 10px 20px;
	border: 1px dotted rgb(252,101,18);
	border-top: 2px dotted rgb(252,101,18);
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5) ;
}
.sidebar h2{
	border: none;
	margin-top: 0;
	padding: 0;